    html {
      --lumo-primary-color: hsl(214, 33%, 20%);
      --lumo-primary-color-50pct: hsla(214, 33%, 20%, 0.5);
      --lumo-primary-color-10pct: hsla(214, 33%, 20%, 0.1);
      --lumo-primary-text-color: hsl(214, 52%, 35%);

    }
